{% extends 'base.html.twig' %}

{% block title %}Login - Zappy Leaderboard{% endblock %}

{% block body %}
    <form class="login">
        Connexion<br>
        <p>Pseudo :</p><input title="conn_login" type="text" /><br>
        <p>Mot de passe</p><input title="conn_pass" type="password"/><br>
        <input type="submit"/>
    </form>
{% endblock %}
